
.menu {
    background-color: #F7F7F7;
    padding: 25px;
    border-bottom: 1px solid #ededed;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu_logo {
    font-weight: 900;
    font-size: 24px;
}

.menu ul {
    list-style: none;
    display: flex;
}

.link_ativo {
    color: #fff;
    background-color: #565656;
}

.link {
    color: #000;
    background-color: #d3d3d3;
}

.menu a {
    font-size: 14px;
    font-weight: 600;    
    max-width: 240px;
    margin: 10px;
    box-shadow: 1px 1px 2px #878787;
    padding: 10px 20px;
    display: block;
    text-decoration: none;
    border-radius: 20px;
    text-align: center;
    transition: transform 0.3s ease;
}   

.menu a:hover {    
    transform: scale(1.2);
}