.component {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;

}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 50vh;
    background-color: grey;    
}

.container h1{
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
    text-shadow: 1.5px 2px 2px black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20vw;
    height: 10vh;
    background-color: rgb(82, 75, 75);
}